// .header {
//   .menu-btn {
//     @apply block cursor-pointer
//   }
// }

.logo {
  mix-blend-mode: color-burn;
  aspect-ratio: 2;
  object-fit: cover;
  width: 15%;
}
mat-toolbar {
  height: 10%;
}
