<div class="flex flex-col py-5 px-4 min-h-[100vh] items-center justify-center">
  <img class="w-[220px] md:w-[280px]" src="../../../assets/images/map-logo.svg">
  <div
    class="bg-white px-4 sm:px-10 md:px-[100px] w-[570px] max-w-[100%] py-4 sm:py-[44px] rounded-[10px] mt-7 md:mt-[90px]">
    <form #fpForm="ngForm">
      <div class="mb-2">
        <p>
          {{ 'login.forgotPasswordInfo' | translate }}
        </p>
      </div>
      <div class="flex">
        <label class="field-lbl" [ngClass]="{ 'field-error': (fpForm.submitted || email.touched) && email.invalid }">{{
          'login.email' | translate }}</label>
        <input class="form-field" [ngClass]="{ 'field-error': (fpForm.submitted || email.touched) && email.invalid }"
          [pattern]="emailRegex" type="email" name="email" ngModel #email="ngModel" required>
      </div>
      <ng-container *ngIf="(fpForm.submitted || email.touched)">
        <ng-container *ngIf="email.errors?.required">
          <p class="error-message"> {{ 'validation.emailRequired' | translate }} </p>
        </ng-container>
        <ng-container *ngIf="email.errors?.pattern">
          <p class="error-message"> {{ 'validation.invalidEmail' | translate }} </p>
        </ng-container>
      </ng-container>
      <div class="mt-5 md:mt-8 text-right">
        <app-cp-button [type]="'submit'" [label]="'login.forgotPassword' | translate"
          [class]="{'common-btn secondary-btn font-base font-semibold rounded-[5px] min-w-[120px]': true, 'pointer-events-none': isSubmitted}"
          [isDisabled]="isSubmitted" [spin]="isSubmitted" (onTap)="click(fpForm)"></app-cp-button>
      </div>
      <div class="mt-2 md:mt-3 text-right">
        <a class="cursor-pointer text-[13px]" (click)="backToLogin()">{{ 'login.backToLogin' |
          translate }}</a>
      </div>
    </form>
  </div>
</div>