<div *ngFor="let item of [1,2]">
    <mat-card class="learning-card m-5">
        <div class="ml-2">
            <h2 class="title mt-2">Node</h2>
            <p class="mt-5 mb-2">
                Node is a development platform, built on TypeScript. As a platform, Angular includes: A component-based framework for
                building scalable web applications.
            </p>
        </div>
        <hr>
        <div class="flex justify-end">
            <button (click)="onSchedule()" mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card>
</div>