.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.quote-card {
  width: 500px;
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: 600;
}
