<div class="bg-white shadow-2sm p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-[10px]">
  <div class="flex flex-wrap -m-1.5 sm:-m-2 mb-2 sm:mb-3">
    <div class="p-1.5 sm:p-2 mr-auto order-1 sm:order-none flex-auto sm:flex-none">
      <app-cp-button [label]="'partner.addPartner' | translate"
        [class]="{'common-btn primary-btn font-semibold font-base rounded-[5px]': true}"
        (onTap)="navigateToAddPartner()"></app-cp-button>
    </div>
    <div class="p-1.5 sm:p-2 order-3 sm:order-none flex-auto sm:flex-none">
      <div class="search-box relative sm:min-w-[300px]">
        <mat-icon class="text-blue-50 absolute left-[10px] top-[10px]">search</mat-icon>
        <input class="shadow-2sm rounded-[60px] outline-0 text-blue-50 font-semibold h-[40px] w-full pl-[44px] pr-4"
          type="text" [formControl]="searchControl" placeholder="{{ 'partner.searchPartner' | translate }}">
      </div>
    </div>
    <div class="p-1.5 sm:p-2 order-2 sm:order-none flex-auto sm:flex-none">
      <ng-select class="w-full font-semibold text-secondary custom-select rounded" [formControl]="sortValue"
        [clearable]="false" [searchable]="false" (change)="getPartnerList()">
        <ng-option *ngFor="let sort of sortOptions" [value]="sort.value">
          {{ 'common.' + sort.label | translate }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <table class="custom-table" mat-table [dataSource]="partnerList">

        <ng-container matColumnDef="partnerId">
          <th mat-header-cell *matHeaderCellDef> {{ 'common.id' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.partnerId }} </td>
        </ng-container>

        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef> {{ 'partner.companyName' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <a class="cursor-pointer text-primary">
              {{ element.companyName }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="street">
          <th mat-header-cell *matHeaderCellDef> {{ 'partner.street' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.street }} </td>
        </ng-container>

        <ng-container matColumnDef="zip">
          <th mat-header-cell *matHeaderCellDef> {{ 'partner.zip' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.zip }} </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> {{ 'partner.city' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef> {{ 'partner.country' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.country }} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> {{ 'partner.email' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
        </ng-container>

        <ng-container matColumnDef="phoneNo">
          <th mat-header-cell *matHeaderCellDef> {{ 'partner.phone' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.phoneNo }} </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef> {{ 'common.status' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <span class="text-[12px] px-3 py-0.5 rounded-[8px]"
              [ngClass]="{ 'text-green bg-green-light': element.isActive, 'text-red bg-red-light': !element.isActive }">
              {{ element.isActive ? ( 'partner.active' | translate ) : ( 'partner.inActive' | translate )}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="w-[10px]" mat-cell *matCellDef="let element">
            <app-cp-action-toolbar [actionData]="element.partnerAction"
              [rowReference]="element"></app-cp-action-toolbar>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnLabel"></tr>
        <tr mat-row *matRowDef="let row; columns: columnLabel;">
        </tr>

      </table>
      <ng-container *ngIf="!isLoading && !partnerList.data.length">
        <div class="flex items-center font-medium justify-center h-[80px]">
          {{ 'common.noDataFound' | translate }}
        </div>
      </ng-container>
      <ng-container *ngIf="isLoading">
        <div class="flex items-center justify-center h-[80px]">
          <app-cp-loader [class]="{ 'w-8 h-8 border-x-primary border-y-transparent': true }"></app-cp-loader>
        </div>
      </ng-container>
    </div>
    <mat-paginator class="custom-paginator" (page)="getPartnerList()" [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons></mat-paginator>
  </div>
</div>