<div class="flex flex-col py-6 px-4 min-h-[100vh] items-center justify-center">
  <img class="mt-5 logo" src="../../../assets/images/ms-logo.png">
  <div
    class="bg-white px-4 sm:px-10 md:px-[100px] w-[570px] max-w-[100%] py-4 sm:py-[44px] rounded-[10px] mt-7 md:mt-[90px]">
    <form #loginForm="ngForm">
      <ng-container *ngIf="!onOtp">
        <div class="flex">
          <label class="field-lbl"
            [ngClass]="{ 'field-error': (loginForm.submitted || email.touched) && email.invalid }">{{ 'login.email' |
            translate }}</label>
          <input class="form-field"
            [ngClass]="{ 'field-error': (loginForm.submitted || email.touched) && email.invalid }" email type="email"
            name="email" [(ngModel)]="loginParam.authValue" #email="ngModel" required>
        </div>
        <ng-container *ngIf="(loginForm.submitted || email.touched) && email.errors?.required">
          <p class="error-message"> {{ 'validation.emailRequired' | translate }} </p>
        </ng-container>
      </ng-container>

      <div class="flex" *ngIf="onOtp">
        <label class="field-lbl">{{ 'OTP' |
          translate }}</label>
        <input class="form-field" [(ngModel)]="loginParam.otp" type="otp" name="email" #otp="ngModel" required>
      </div>
      <div class="mt-5 md:mt-8 text-right">
        <app-cp-button [type]="'submit'" [label]="'Continue' | translate"
          [class]="{'common-btn secondary-btn font-base font-semibold rounded-[5px] min-w-[120px]': true, 'pointer-events-none': isSubmitted}"
          [isDisabled]="isSubmitted" [spin]="isSubmitted" (onTap)="onSubmit(loginForm)"></app-cp-button>
      </div>
    </form>
  </div>
  <div class="bg-white p-4 w-[570px] max-w-[100%] rounded-[10px] mt-5 md:mt-8">
    <p class="text-center text-[13px] font-semibold">
      <span class="font-bold">{{ 'login.problems' | translate }}</span><br>
      {{ 'login.contactUs' | translate }}
      <a href="mailto:{{supportEmail}}">{{supportEmail}}</a>
    </p>
  </div>
</div>